@font-face {
  font-family: 'elite';
  src: url('./metadata/fonts/special-elite-regular.ttf');
}
@font-face {
  font-family: 'notepen';
  src: url('./metadata/fonts/notepen.ttf');
}

:root {
  --text: #000000;
  --base: #ffffff;
  --baseTran: rgba(255, 255, 255, 0.1);
}

.background-blur {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.backdrop-shadow {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.0),
                    0 22px 70px 4px rgba(0,0,0,0.55),
                    0 0 0 1px rgba(0, 0, 0, 0.0);
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

html { height: 100%; }
body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;

  font-size: 1rem;
  font-family: 'notepen';
  color: var(--text);
  
  background-color: var(--base);
}

header {
  z-index: 99;
  background-color: var(--base);
  border-bottom: 2px solid var(--text);
  position: fixed;
  top: 0;
  left: 0;
  width: 7480px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header span {
  font-size: 1.5rem;
  transform: translate(-99%, 0);
  animation: moveRight 20s linear infinite;
}
@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-3726px);
  }
}

main {
  z-index: 99;
  position: absolute;
  top: calc(50% - 48px);
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main h1 {
  font-size: 5rem;
  text-shadow:
    2px 2px 0 #ffffff,
    -2px 2px 0 #ffffff,
    -2px -2px 0 #ffffff,
    2px -2px 0 #ffffff;
  cursor: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

main .socials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px; 
}
main .socials button {
  background: var(--baseTran);
  border: none;
  color: var(--text);
  font-family: 'notepen';
  font-size: 2.5rem;
  text-align: center;
  cursor: pointer;
  text-shadow:
    2px 2px 0 #ffffff,
    -2px 2px 0 #ffffff,
    -2px -2px 0 #ffffff,
    2px -2px 0 #ffffff;
}
main .socials button:hover {
  color: red;
}
main .socials button:active {
  color: var(--text);
}

footer {
  z-index: 99;
  background-color: var(--base);
  border-top: 2px solid var(--text);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

#contract {
  font-size: 1.5rem;
  word-break: break-all;
  margin-left: 8px;
}
#copy-ca-button {
  color: var(--text);
  background-color: var(--base);
  border: 2px solid var(--text);
  font-family: 'notepen';
  font-size: 1.3rem;
  margin-right: 8px;
  cursor: pointer;
}
#copy-ca-button:hover {
  color: var(--base);
  background-color: var(--text);
  border: 2px solid var(--text);
}
#copy-ca-button:active{
  color: var(--text);
  background-color: var(--base);
  border: 2px solid var(--text); 
}

/* BACKGROUND */

#backdrop-static {
  z-index: -99;
  position: fixed;
  top: 48px;
  bottom: 64px;
  left: 0;
  right: 0;
}

.back1 {
  width: calc(100% + 32px);
  height: calc(100% + 32px);
  position: absolute;
  top: -16px;
  left: -16px;
}
.back2 {
  width: 64%;
  position: absolute;
  top: -24px;
  right: -48px;
}
.back3 {
  width: 48%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.back4 {
  height: 25%;
  width: calc(100% + 32px);
  position: absolute;
  left: 0;
  top: 0;
}
.back5 {
  width: 64%;
  position: absolute;
  bottom: 0;
  right: -16px;
}
.back6 {
  width: 424px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gif1 {
  position: absolute;
  width: 124px;
  top: 0;
  left: 0;
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
}
.gif2 {
  position: absolute;
  width: 124px;
  bottom: 0;
  right: 0;
}
.gif3 {
  position: absolute;
  width: 100px;
  top: calc(50% - 50px);
  left: 0;
  transform: translate(0, -50%);
}
.gif4 {
  position: absolute;
  width: 100px;
  top: calc(50% + 50px);
  left: 0;
  transform: translate(0, -50%);
}

#backdrop-animation {
  position: fixed;
  top: 48px;
  left: 0;
  right: 0;
  bottom: 64px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
#backdrop-animation img {
  width: 100%;
  height: 100%;
}